[submodule "get-git-stale-branches"]
	path = get-git-stale-branches
	url = git@github.com:OddKMS/get-git-stale-branches.git
[submodule "turn-on-powertoys-awake"]
	path = turn-on-powertoys-awake
	url = git@github.com:OddKMS/turn-on-powertoys-awake.git
[submodule "sync-windows-terminal-settings"]
	path = sync-windows-terminal-settings
	url = git@github.com:OddKMS/sync-windows-terminal-settings.git
[submodule "windows-cmd-aliases"]
	path = windows-cmd-aliases
	url = git@github.com:OddKMS/windows-cmd-aliases.git
[submodule "windows-terminal-in-context-menu"]
	path = windows-terminal-in-context-menu
	url = git@github.com:OddKMS/windows-terminal-in-context-menu.git
